#header {
    width: 100%;

    position: absolute /* fixed */; /* fixed는 무조건 viewport만 기준으로 함 */
    top: 0;
    left: 0;
    z-index: 10;
}

#header nav {
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    display: flex;
    margin-left: auto;
    margin-right: 4rem;
}

.gnb li a {
    font-weight: 700;
    color: #fff;
    display: block;
    padding: 1rem 2rem;
}

nav button[type="button"] {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--white50p);
    border-radius: var(--rds);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff; /* iconfont라서 폰트색명령어로 변경 가능 */
    font-size: 2rem; /* " */
}

.btn-menu {
    display: none !important;
}

.video {
    position: relative;
    aspect-ratio: 1/0.3318; /* 1920/673 */
    overflow: hidden;
}

.video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    background: var(--black50p);
}

.video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    text-align: center;
    color: #fff;

    width: 59.3799%;
}

.video-title h2 {
    font-weight: 700;
    font-size: 7.6rem;
}

.video-title p {
    font-weight: 500;
    font-size: 2rem;

    padding: 0 26.5rem;
    margin-top: 1rem;
}

.video-title .btn {
    margin-top: 2.8rem;
}

.video-wrap {
    /* width: 1920px;
    height: 1080px; */
    aspect-ratio: 16/9; /* 반응형 */
    background: skyblue;

    position: absolute; /* 이섹히가 쪼그라들게 함 */
    top: 50%;
    left: 50%;
    width: 100%; /* 크기 정의가 없어서 쪼그라든거. aser은 무력화됨 */
    transform: translate(-50%, -50%);
}

.video-wrap iframe {
    width: 100%;
    height: 100%;
    vertical-align: top; /* css trigger 밑에 틈 없애기 */
}

.about {
    padding: 8rem 0 11.7rem;
    text-align: center;
}

.about .inner {
    padding: 0 15rem;
}

.about figure {
    margin-top: 4.3rem;
    width: 100%;
}

.about figure + p {
    margin-top: 2.8rem;
    padding: 0 11.25rem;
}

.team {
    padding: 8.3rem 0 12rem;
    background: var(--main-color);
    color: var(--sub-color);
    text-align: center;
}

.team .sec-title {
    color: #fff;
}

.team .btn {
    margin-top: 4.8rem;
}

.team-slider {
    margin-top: 4rem;
}

.team-slider .swiper-wrapper {
    /* 검사기 돌려보면 얘가 flex공간이라서 */
    justify-content: space-between;
}

.team-slider .swiper-slide {
    width: 28rem;
    width: 23.7288%;
    min-height: 33rem;
}

.team-slider .swiper-slide figure {
    width: 82.7143%;
    aspect-ratio: 1/1;

    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.team-slider .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-slider .swiper-slide dl {
    margin-top: 2rem;
}
.team-slider .swiper-slide dl dt {
    font-weight: 700;
    font-size: 2.4rem;
}
.team-slider .swiper-slide dl dd {
    margin-top: 0.8rem;
}

.work {
    padding: 8rem 0 12rem;
}

.work-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 4.3rem;
}

.work-new {
    /* flex의 item들은 크기를 꼭꼭 자방주기 */
    width: 48rem;
    width: 40.4779%;
}

.work-new a {
    color: var(--text-color);
}

.work-new h4 {
    font-weight: 700;
    font-size: 2.4rem;

    margin-top: 2.8rem;
}

.work-new p {
    font-size: 1.8rem;

    margin-top: 0.8rem;
}

.work-list {
    width: 68rem;
    width: 57.6271%;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.work-list li {
    width: 33rem;
    width: 48.5294%;
}

.form-wrap {
    width: 48.8rem;
    width: 41.4559%;
    height: 5.4rem;
    border: 1px solid var(--main-color);
    border-radius: var(--rds);

    /* 인라인요소들은 ' '(스페이스) 하나를 공간으로 인식해서 틈을 만듬 그러면 
    display:flex 하면 딱붙음 세로도 부모따라서 늘어남(세로크기 부모한테 줬을떄만)*/
    display: flex;
    overflow: hidden;
    margin: 5.2rem auto 0;
}

.form-wrap input {
    padding: 0 2.4rem;
    /* input의 가로크기가 부모 가로크기 100%기준 button 가로크기를 제외한 만큼 */
    /* width: calc(100% - 21.4rem); */
    flex-grow: 1; /* flex item이 늘어날 수 있을때 늘어나는 명령어 기본값:0(늘지않음) */
    outline: none; /* form요소에 focus가 들어가도 활성화표시가 뜨지 않는 명령어 */
}
.form-wrap button {
    width: 21.4rem;
    background: var(--main-color);

    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;

    border-radius: var(--rds);
}

.map-wrap {
    height: 68rem;
}

.map-wrap iframe {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: 0.4s;
}

.map-wrap:hover iframe {
    filter: grayscale(0);
}

#footer {
    /* 반응형에서 세로크기가 많이 바뀌니까 footer에게 세로크기 주지 말고 padding으로 제어 */
    background: #2c2c2c;
    color: #fff;
    padding: 5.6rem 0;
}

#footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer strong {
    font-weight: 700;
    font-size: 1.6rem;
}

#footer .sns-list {
    display: flex;
    gap: 2.4rem;
    color: #fff;
}

#footer .sns-list li a {
    /* inline요소인 a가 크기와 정렬을 동시에 가질 수 있게 flex와 가로세로 크기를 a에 줌 
    li에게 줬다면 크기만 생기고 a는 inline요소라 그냥 얘맨함
    세로크기는 자손이 그리기 때문에 이미지의 크기만큼만을 점유중
    gnb li a와 같은 코딩*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border: 1px solid var(--white50p);
    border-radius: var(--rds);
}

/* .inner의 크기에 따른 분기점 */
@media screen and (max-width: 1180px) {
    .inner {
        width: 90%; /* 임시값 */
    }
}

/* 태블릿 디자인 */
@media screen and (max-width: 1024px) {
    .inner {
        width: 96.4rem;
        width: 94.1406%;
    }

    .video {
        aspect-ratio: 1/0.478515625;
    }

    .video-title {
        width: 71.4rem;
        width: 69.7266%;
        /* background: #f5f; */
    }

    .video-title p {
        padding: 0 5rem;
    }

    .about .inner {
        padding: 0;
    }

    .work-wrap {
        flex-direction: column;
        gap: 4.8rem;
    }

    .work-new {
        width: 100%;
    }

    .work-list {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 0;
    }

    .work-list li {
        width: 23rem;
        width: 23.8589%;
        height: initial; /* initial, auto: 초기화 */
    }

    .form-wrap {
        width: 48.8rem;
        width: 50.6224%;
    }

    .map-wrap {
        /* height: 84.6rem; */
        height: initial; /* 기존 PC값을 쓸라고 해서 initial로 초기화해주고 aspect-ratio로 비율화 */
        aspect-ratio: 1/0.8261;
    }
}

/* 모바일 디자인 */
@media screen and (max-width: 390px) {
    .inner {
        width: 89.7436%;
    }

    #header nav {
        height: 6.8rem;
    }

    .logo a {
        width: 3rem;
    }

    .gnb {
        display: none;
    }

    .btn-menu {
        display: flex !important;
        margin-left: auto;
        margin-right: 1.2rem;
    }

    .video {
        aspect-ratio: 1/1.3846;
    }

    .video-title {
        width: 89.7436%;
    }

    .video-title h2 {
        font-size: 3.2rem;
    }

    .video-title p {
        font-size: 1.8rem;
        padding: 0;
    }

    .about figure {
        aspect-ratio: 1;
    }

    .about figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about p {
        padding: 0 !important;
    }

    .work-list {
        flex-direction: column;
        gap: 2.1rem;
    }

    .work-list li {
        width: 100%;
    }

    .form-wrap {
        width: 100%;
    }
    .form-wrap input {
        padding: 0;
        padding-left: 2.4rem;
    }
    .form-wrap button {
        width: 8rem;
        flex-shrink: 0;
    }

    .form-wrap button::before {
        content: "\F0D9";
        font-family: remixicon;
    }

    .form-wrap button b {
        display: none;
    }

    .map-wrap {
        aspect-ratio: 1/1.3538;
    }

    #footer .inner {
        flex-direction: column;
        gap: 2.8rem;
    }
}
